DB_URL=example
DB_USERNAME=example
DB_PASSWORD=example
DB_DRIVER_CLASS=example
JPA_DDL_AUTO=example

ACCESS_TOKEN_EXPIRATION_TIME=example
REFRESH_TOKEN_EXPIRATION_TIME=example
JWT_SECRET_KEY=example

MONITORING_X_API_KEY=example
DEVELOPER_API_KEY=example
ACTUATOR_PATH=example

BYPASS_LOGIN_PHONE=example
BYPASS_LOGIN_CODE=example
BYPASS_LOGIN_NAME=example

APPLE_OAUTH_WEB_AUD=example
APPLE_OAUTH_APP_AUD=example
GOOGLE_OAUTH_CLIENT_ID=example

GABIA_SMS_ID=example
GABIA_API_KEY=example
GABIA_SENDER_NUMBER=example

PLAYGROUND_URL=example
PLAYGROUND_TOKEN=example

S3_BUCKET=example
S3_REGION=example
S3_BASE_DIR=example
AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example

REDIS_HOST=example
REDIS_PORT=example
REDIS_PASSWORD=example
